.chat {
  flex: 0.75;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chat__header {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  /* max-height: 70px; */
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 700;
}

.chat__headerInfo > p {
  color: gray;
  overflow: hidden;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: scroll;
}

.chat__body .chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 40px;
}

.chat__body span.chat__name {
  position: absolute;
  top: -25px;
  left: 0;
  font-weight: 700;
  font-size: 15px;
}

.chat__body span.chat__timestamp {
  font-size: 12px;
  margin-left: 10px;
}

.chat__body .chat__message.chat__receiver {
  background-color: #dcf8c6;
  margin-left: auto;
}

.chat__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  border-top: 1px solid lightgray;
  padding: 8px;
}

.chat__footer > form {
  display: flex;
  flex: 1;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
}

.chat__footer > form > button {
  display: none;
}
